.add-lesson-data-header {
  height: 40px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
  align-items: center;
}

.add-content-subtitle {
  width: 100%;
  height: 100%;
}

.section-selector {
  padding-top: 20px;
}

.lesson-title {
  margin-top: 30px;
}

.header-width-lesson {
  min-width: 200px;
}

.slide-box {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--mui-palette-primary-dark);
}

.slide-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-width {
  min-width: 160px;
}

.content-width {
  width: stretch !important;
}

.margin-for-header {
  margin-top: 10px !important;
}

.highlight-word-box {
  display: flex;
  flex-direction: row;
}
.mediaTypePadding{
  padding-top: 0px;
}

@media screen and (max-width: 900px) {
  .slide-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-width {
    padding-left: 10px;
  }
  .highlightwordbox{
    width:100% !important;
  }
  .mediaTypePadding{
    padding-top: 10px;
  }
  .add-lesson-data-header{
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
