.saved-models-body {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.three-diff-params {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.charts-predictions-box,
.temp-flex {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.model-name-changer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    width: 440px;
    padding-bottom: 4px;
}

.name-changer-textfield,
.dot-details {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.name-changer-textfield {
    width: 100%;
}


.basic-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
    gap: 0px 26px;
    grid-auto-rows: minmax(auto, auto);
}

.basic-details2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 0px 16px;

}

.model-training-parameters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 16px;
}

.selected-indicators-saved-box {
    max-height: 240px;
    display: flex;
    padding: 4px;
    flex-direction: column;
    min-width: 200px;
    gap: 8px;
    overflow: auto;
}

.single-indicator-saved {
    display: flex;
    gap: 4px;
    padding-top: 4px;
    flex-direction: column;
}

.custom-tooltip {
    background-color: var(--mui-palette-background-default);
    margin: 0px 4px;
    padding: 0px 4px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 500;
}

.custom-tooltip-line {
    background-color: var(--mui-palette-background-default);
    width: max-content;
    border-radius: 4px;
}

.custom-tooltip-line .label {
    font-size: 12px;
    font-weight: 500;
    padding: 1px 4px;
    margin: 0px 0px;
    width: fit-content;
}

.rechart-chart {
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0px 0px 4px 0px var(--mui-palette-background-default)
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: start;
    border-radius: 6px;
    padding: 5px 8px;
    font-size: 10px;

    /* Position the tooltip */
    position: absolute;
    /* vertically center */
    top: 55%;
    /* transform: translateX(50%); */
    /* move to right */
    /* left: 100%; */
    margin-left: 15px;
    /* and add a small left margin */
    z-index: 1;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.left {
    /* reset defaults */
    left: initial;
    margin: initial;

    /* set new values */
    right: 100%;
    margin-right: 15px;
}

.bottom {
    /* reset defaults */
    top: initial;
    transform: initial;
    left: initial;
    margin: initial;

    /* set new values */
    bottom: 100%;
    margin-bottom: 15px;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 1420px) {
    .basic-details {
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1200px) {
    .saved-models-body {
        flex-direction: column;
    }

    .basic-details>p>span {
        width: 90px !important;
    }

    .basic-details2>p>span {
        width: 90px !important;
    }
}

@media screen and (max-width: 900px) {
    .model-training-parameters {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 700px) {
    .charts-predictions-box {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .basic-details {
        grid-template-columns: 1fr;
    }

    .basic-details2 {
        grid-template-columns: 1fr;
    }

    .temp-flex {
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .temp-flex {
        flex-direction: column;
    }

    .rechart-chart {
        width: 100% !important;
    }

    .model-name-changer {
        width: 100%;
    }

    .name-changer-textfield {
        width: 65%;
    }

}