.animation-container {
  height: 100vh;
  position: fixed;
}

.main {
  position: absolute;
  z-index: 10;
  width: 100%;
}

/* .content{
  padding-top: 88px;
} */
.parallax-star,
.webgl {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.word-globe {
  width: 400px !important;
  height: 400px !important;
}


.login {
  position: absolute;
  z-index: 10;
  color: azure;
  top: 50%;
  left: 50%;
}