.animation-container {
  height: 100vh;
  position: fixed;
}

.main {
  position: absolute;
  z-index: 10;
  width: 100%;
}

/* .content{
  padding-top: 88px;
} */
.webgl {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.login {
  position: absolute;
  z-index: 10;
  color: azure;
  top: 50%;
  left: 50%;
}

  
