.banner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background: linear-gradient(60deg, #bfaa270d, rgba(0,0,0,1) 100%), linear-gradient(230deg, #fdda4724, rgba(0,0,0,1) 100%);
}
.img-container {
  width: 400px;
}

.banner-left-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.grid-col-left {
  display: flex;
  flex-direction: column !important;
  justify-content: flex-start;
}

.grid-col-button-left {
  width: 150px;
}
