.testimonial-container {
  position: relative;
  height: auto;
  /* background: linear-gradient(0deg, #00000012 0%, #100f079c 100%); */
}

.testimonial-card {
  width: 600px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-shadow: 15px 12px 6px 3px rgba(0, 0, 0, 0.494) !important;
}

.testimonial-box {
  padding: 2rem;
}

@media screen and (max-width: 1200px) {
  .testimonial-card {
    width: 1000px;
  }
}

@media screen and (max-width: 900px) {
  .testimonial-box {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .testimonial-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimonial-grid {
    padding: 20px !important;
  }
  .testimonial-text {
    padding-bottom: 60px !important;
  }
  .testimonial-text {
    font-size: 45px !important;
  }
}
