.stat-container {
  width: 100%;
}

.tool-tip {
  width: 96px;
  background-color: #fff;
  color: #000;
  position: absolute;
  display: none;
  padding: 8px;
  box-sizing: border-box;
  font-size: 12px;
  text-align: left;
  z-index: 1000;
  top: 12px;
  left: 12px;
  pointer-events: none;
  border: 1px solid;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tool-tip-test {
  width: 100px;
  background-color: #ffffff;
  color: #c93333;
  position: absolute;
  /* display: none; */
  padding: 8px;
  box-sizing: border-box;
  font-size: 12px;
  text-align: left;
  z-index: 1000;
  top: 12px;
  left: 12px;
  pointer-events: none;
  border: 1px solid;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-holder {
  color: var(--mui-palette-secondary-main) !important;
  /* border: 2px solid; */
  padding: 20px !important;
  border-radius: 20px !important;
  /* margin: 15px !important; */
  min-height: 220px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--mui-palette-background-paper);
}

.card-holder-long {
  color: var(--mui-palette-secondary-main) !important;
  background-color: var(--mui-palette-background-paper);
  /* border: 2px solid; */
  padding: 20px !important;
  border-radius: 20px !important;
  /* margin: 15px !important; */
  min-height: 220px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-trading-view-data {
  color: var(--mui-palette-secondary-main) !important;
  background-color: var(--mui-palette-background-paper);
  /* border: 2px solid; */
  padding: 20px !important;
  border-radius: 20px !important;
  /* margin: 15px !important; */
  min-height: 220px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-holder-slider {
  color: var(--mui-palette-secondary-main) !important;
  background-color: var(--mui-palette-background-paper);
  padding: 15px 10px 20px 20px !important;
  border-radius: 20px !important;
  /* margin: 15px !important; */
  /* border: 2px solid; */
  /* min-height: 250px !important; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 181px !important;
  cursor: pointer;
}

.action-box {
  display: flex;
  justify-content: flex-start;
}

.card-button {
  color: var(--mui-palette-text-primary) !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  transition: all 0.3s ease-in-out;
  border-radius: 5px !important;
}

.stat-cards-container {
  padding: 20px;
}

.sidebar-label {
  font-size: 13px !important;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination {
  margin-bottom: 15px;
}

.swiper-pagination span {
  background-color: #fff;
  overflow: hidden;
}

.span-selection-test {
  display: flex;
  background-color: aliceblue;
  padding: 4rem;
  flex-direction: column;
  text-align: left;
}

.text-div {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: bisque;
}

/* .span-selection-test span
{
  margin-left:3px;
} */

.item-bg {
  width: 300px;
  height: 400px;
  z-index: -1;
  position: absolute;
  top: 30px;
  background: var(--mui-palette-primary-light);
  border-radius: 20px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.3s;
  left: -30px;
  /* left: 50%;
  transform: translateX(-50%); */
}

.active {
  left: 0;
  top: 0;
  opacity: 1;
}

.token-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.token-image {
  width: 30px;
  height: 30px;
}

.token-diff-box {
  display: flex;
  flex-direction: row;
}

.high-low-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.center-col {
  display: flex;
  flex-direction: column;
}

.token-selector-box {
  display: flex;
  flex-direction: column;
}

.token-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 0px 10px;
  margin: 10px;
}

.time-period-toggleGrid-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time-period-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: stretch;
  /* gap: 1rem; */
  padding: 0px 20px;
  /* margin:10px; */
}

.tokenSelector-autocomplete {
  cursor: pointer;
}

@media screen and (min-width: 1400px) {
  .stat-container {
    width: 1200px;
  }
}

@media screen and (max-width: 600px) {
  .token-selector {
    display: flex;
    flex-direction: column !important;
  }
}