.signup-button {
  background-color: red !important;
  color: white !important;
  margin: 20px 0 20px 0 !important;
  letter-spacing: 5px;
}

.login-model-signup {
  width: 500px;
  height:500px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.animation-grid-signup{
    display:flex;
    justify-content: center;
}

.signup-container-left{
  width: 400px;
  height: auto;
}

.animation-grid-signup{
  align-items: center;
}

.signup-box-already{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 20px 0 20px 0 !important;
}

.signup-grid-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.signup-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.signup-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media screen and (min-width : 1200px){
  .signup-container{
    height: 100vh;
  }
}

@media screen and (max-width : 1200px){
  .signup-container{
    min-height: 100vh;
  }
  .signup-box{
    height:auto;
    margin-top: 40px;
  }
}