.course-container {
  position: relative;
  height: auto;
  background: linear-gradient(0deg, #00000096 0%, #000000cc 100%);
}

.course-box {
  padding: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.course-card {
  padding: 20px;
}

.padding-course {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
}

.li-padding {
  padding-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .course-box {
    padding: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .course-box{
    padding: 20px;
  }
  .course-card{
    padding:0;
  }
}