.pricing-container {
  position: relative;
  /* top: 100vh; */
  height: auto;
}
.pricing-box {
  padding: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 10rem;
}

.pricing-card {
  width: 800px;
}

.padding-price {
  padding: 2rem;
}

.get-to-top {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .pricing-box {
    padding: 4rem;
  }
  .pricing-card {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .pricing-box {
    padding: 20px;
  }
  .pricing-card {
    padding: 0;
  }
}
