.tool-tip-indicators {
    width: 130px;
    background-color: #fff;
    color: #000;
    position: absolute;
    display: none;
    padding: 8px;
    box-sizing: border-box;
    font-size: 12px;
    text-align: left;
    z-index: 1000;
    top: 12px;
    left: 12px;
    pointer-events: none;
    border-radius: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tooltip-text{
    transition: all 0.2s ease-in-out;
    font-size: 14px;
}

.asset-type-tab {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chart-container {
    display: flex;
    justify-content: center;
    height: 60vh;
}

.MuiTabs-flexContainer {
    gap: 20px;
}

.MuiTabs-indicator {
    background-color: red;
    margin: 9px 0px;
}

.tab {
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    min-height: auto;
}

.tab:hover {
    transition: all 0.2s ease-in-out;
    background-color: beige;
    color: black;
}

.MuiButtonBase-root.MuiTab-root.Mui-selected {
    background-color: rgb(219, 211, 208);
    color: black;
}

.autocomplete-select-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.range-picker-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.date-picker>.MuiInputBase-root {
    height: 37px;
}

.accordianbox>.MuiPaper-root {
    background-color: var(--mui-palette-primary-new)
}

.crypto-details-tabel {
    min-height: 50vh;
    background-color: var(--mui-palette-primary-new)
}

.crypto-name {
    cursor: pointer;
}

.crypto-name>.crypto-content {
    transition: all 0.2s ease-in-out;
}

.crypto-name>.crypto-content:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.06);
}

.stocks-name {
    cursor: pointer;
}

.stocks-name>.stocks-content {
    transition: all 0.2s ease-in-out;
}

.stocks-name>.stocks-content:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.06);
}

.MuiTableCell-root {
    padding: 12px;
    font-weight: 500;
}

.MuiTableCell-head {
    font-size: 14px;
    border-top: 1px solid var(--mui-palette-TableCell-border);
}

.MuiTableCell-head>span {
    display: flex;
    justify-content: space-between;
}

.MuiTableRow-root:nth-child(even) {
    background-color: var(--mui-palette-primary-newBlack);
}

.small-icon {
    width: 20px;
    height: 20px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate-icon {
    animation: rotate 2s linear infinite;
}

@media screen and (max-width : 900px) {
    .ticker-currency-last-updated {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 600px) {
    .last-updated-date-refresh {
        display: flex;
        justify-content: space-between;
    }
    .tooltip-text{
        font-size: 12px !important;
        font-weight: 400 !important;
        
    }
}