.update-section-box{
    margin-top:20px;
    margin-bottom:20px;
}

.update-section-accordion{
    background-color: '' !important;
}

/* .MuiAccordionSummary-root{
    background-color: var(--mui-palette-primary-main) !important;
} */