.dashboard-container {
  /* height: 100%; */
  /* width: 100%; */
  display: flex;
  /* position: relative; */
}

.content {
  width: 100%;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 73px;
}

.menu-icon-holder {
  transition: all 0.2s ease-in-out;
}

.menu-item :hover {
  color: red !important;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 1400px) {
}

/* @media screen and (max-width: 600px) {
  .content {
    overflow: auto;
  }
} */

/* 
.menu-item :active {
  background-color: white !important;
  color: black !important;
  transition: all 0.2s ease-in-out;
} */
